:root {
    --font-size: 2.4vh;
}
* {
    transition: 0.1s linear;
    font-family:'Courier New', Courier, monospace;
}
body {
    margin: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    min-height: 100vh;
    margin: 0;
    padding: 5px 10px;
}
.container > * {
    min-height: 0;
}

nav {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}
nav h1 + div {
    display: flex;
    justify-content: end;
    width: 50vw;
    gap: 2rem;
    font-size: var(--font-size);
}
.navigation-bar > div button {
    border: none;
    border-radius: 1px;
    color: rgb(19, 12, 12);
    font-size: 1rem;
    background: none;
}
.navigation-bar > div button:hover{
    font-size: larger;
    color: gray;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
}
footer a:hover{
    color: black;
    font-weight: bold;
}

.content {
 border-top: 2px solid black;
 background-color: rgba(206, 210, 212, 0.384);
 padding: 1rem;
}
.add {
    position: fixed;
    display: flex;

    right: 20px;
    bottom: 30px;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    
    background-color: rgba(184, 181, 181, 0.514);
    border-radius: 50px;
    color: rgba(124, 87, 87, 0.644);
    border: 2px solid rgba(59, 48, 48, 0.774);
    cursor: pointer;
}
.add:hover {
    box-shadow: 0 0 10px red;
    font-size: 3rem;
    font-weight: bold;
    height: 4rem;
    width: 4rem;
    right: 1.6vw;
    bottom: 4vh;
}

#placeholder-book {
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: white;
    width: fit-content;
    padding: 1rem 1.5rem;
    border: 1px solid black;
}
.book-image {
    height: 100px;
    width: 80px;
    background-color: black;
}
.book-info {
    display: flex;
}
.book-names * {
    margin: 0;
}
.book-progress {
    margin-top: 1rem;
}
.book-progress * {
    margin-top: 0.3rem;
}
.book-pages {
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-pages p {
    font-size: small;
    margin: 0;
}
.book-pages input {
    width: clamp(20px, 50px, 50px);
    height: 1rem;
    border: none;
    background-color: rgb(238, 238, 238);
    font-size: 0.7rem;
}
.book-pages + div {
    display: flex;
    justify-content: space-between;
}
.book-pages + div button {
    border: 1px solid gray;
    padding: 1px 15px;
}

#popup-background {
    background-color: rgba(70, 70, 70, 0.726);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup-create {
    position: absolute;
    z-index: 3;
    background-color: white;
    border-radius: 5px;
    height: 60vh;
    width: 70vw;
    box-sizing: border-box;
}
.pop-nav {
    width: 100%;
    height: 7%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: end;
    background-color: rgb(78, 71, 71);
}
.pop-nav div {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: white;
    width: 2rem;
}
.pop-nav div:hover {
    font-size: larger;
    background-color: rgb(243, 31, 31);
    border-radius: 5px;
}

#new-box {
    display: grid;
    height: 93%;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    justify-content: space-between;
}
#upload-pic {
    display: none;
}
#new-box-image {
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 44);
}
#new-box-image:hover {
    background-color: rgb(233, 233, 233);
}
#new-box-info {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.input-style {
    display: flex;
    flex-direction: column;
}
fieldset {
    border: none;
}
#new-box-submit {
    border: 1px solid black;
    background-color: rgb(168, 187, 206);
    padding: 5px 10px;
    font-weight: bold;
}
#new-box-submit:hover {
    background-color: white;
}
.book-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.delete-book {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: larger;
    background-color: red;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
    cursor: default;
}