:root {
    --font-size: 2.4vh;
}
* {
    transition: 0.1s linear;
    font-family:'Courier New', Courier, monospace;
}
body {
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    min-height: 100vh;
    margin: 0;
    padding: 5px 10px;
}
.container > * {
    min-height: 0;
}

nav {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}
nav h1 + div {
    display: flex;
    justify-content: end;
    width: 50vw;
    gap: 2rem;
    font-size: var(--font-size);
}
.navigation-bar > div button {
    border: none;
    border-radius: 1px;
    color: rgb(19, 12, 12);
    font-size: 1rem;
    background: none;
}
.navigation-bar > div button:hover{
    font-size: larger;
    color: gray;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
}
footer a:hover{
    color: black;
    font-weight: bold;
}

.content {
 border-top: 2px solid black;
}
.add {
    position: fixed;
    display: flex;

    right: 20px;
    bottom: 30px;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    
    background-color: rgba(184, 181, 181, 0.514);
    border-radius: 50px;
    color: rgba(124, 87, 87, 0.644);
    border: 2px solid rgba(59, 48, 48, 0.774);
    cursor: pointer;
}
.add:hover {
    box-shadow: 0 0 10px red;
    font-size: 3rem;
    font-weight: bold;
    height: 4rem;
    width: 4rem;
    right: 1.6vw;
    bottom: 4vh;
}