:root {
    --font-size: 2.4vh;
}
* {
    transition: 0.1s linear;
    font-family:'Courier New', Courier, monospace;
}
body {
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    min-height: 100vh;
    margin: 0;
    padding: 5px 10px;
}
.container > * {
    min-height: 0;
}

nav {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}
nav h1 + div {
    display: flex;
    justify-content: end;
    width: 50vw;
    gap: 2rem;
    font-size: var(--font-size);
}
.navigation-bar > div button {
    border: none;
    border-radius: 1px;
    color: rgb(19, 12, 12);
    font-size: 1rem;
    background: none;
}
.navigation-bar > div button:hover{
    font-size: larger;
    color: gray;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
}
footer a:hover{
    color: black;
    font-weight: bold;
}

.content {
 border-top: 2px solid black;
}
.add {
    position: fixed;
    display: flex;

    right: 20px;
    bottom: 30px;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    
    background-color: rgba(184, 181, 181, 0.514);
    border-radius: 50px;
    color: rgba(124, 87, 87, 0.644);
    border: 2px solid rgba(59, 48, 48, 0.774);
    cursor: pointer;
}
.add:hover {
    box-shadow: 0 0 10px red;
    font-size: 3rem;
    font-weight: bold;
    height: 4rem;
    width: 4rem;
    right: 1.6vw;
    bottom: 4vh;
}

.content .box {
    box-shadow: 5px 5px rgb(120, 120, 187);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}
.content .book-image {
    background-color: black;
    border-radius: 10px;
    height: 10rem;
    width: 10rem;
}
.under-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
}
.b-button {
    padding: 10px 20px;
    border: none;
    
}

#popup-background {
    background-color: rgba(70, 70, 70, 0.726);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup-create {
    position: absolute;
    z-index: 3;
    background-color: white;
    border-radius: 5px;
    height: 60vh;
    width: 70vw;
    box-sizing: border-box;
    padding: 10px;
}

#new-box {
    display: grid;
    height: 100%;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    justify-content: space-between;
}
#new-box-image {
    background-color: red;
}
#new-box-info {
    border-radius: 5px;
}