* {
    transition: 0.1s linear;
    font-family:'Courier New', Courier, monospace;
}
body {
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    min-height: 100vh;
    margin: 0;
    padding: 5px 10px;
}
.container > * {
    min-height: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1 + div {
    display: flex;
    justify-content: end;
    width: 50%;
    gap: 2rem;
}
.navigation-bar > div button {
    border: none;
    border-radius: 1px;
    color: rgb(19, 12, 12);
    font-size: 1rem;
    background: none;
}
.navigation-bar > div button:hover{
    font-size: larger;
    color: gray;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
}
footer a:hover{
    color: black;
    font-weight: bold;
}
